### Adding imports

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('./data/adult.data', header=None, sep=",")
df.columns = ["age", "workclass", "fnlwgt", "education", "education-num","marital-status", "occupation", "relationship", "race", "sex","capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

### Drop the fnlwgt column

In [10]:
df = df.drop(columns=["fnlwgt"])

###  Normalize education and education-num and convert to csv format

In [11]:
education_map = df[["education", "education-num"]].drop_duplicates().reset_index(drop=True)
education_map["education_id"] = education_map.index + 1
education_map.to_csv("education.csv", index=False)

### merge the education_id to final_data.csv

In [12]:
df = df.merge(education_map, on=["education", "education-num"], how="left")
df = df.drop(columns=["education", "education-num"])
print(df.head())

   age          workclass       marital-status          occupation  \
0   39          State-gov        Never-married        Adm-clerical
1   50   Self-emp-not-inc   Married-civ-spouse     Exec-managerial
2   38            Private             Divorced   Handlers-cleaners
3   53            Private   Married-civ-spouse   Handlers-cleaners
4   28            Private   Married-civ-spouse      Prof-specialty

     relationship    race      sex  capital-gain  capital-loss  \
0   Not-in-family   White     Male          2174             0
1         Husband   White     Male             0             0
2   Not-in-family   White     Male             0             0
3         Husband   Black     Male             0             0
4            Wife   Black   Female             0             0

   hours-per-week  native-country  income  education_id
0              40   United-States   <=50K             1
1              13   United-States   <=50K             1
2              40   United-States   <=50K             2
3              40   United-States   <=50K             3
4              40            Cuba   <=50K             1

###  Normalize marital status

In [13]:
martial_map = df["marital-status"].drop_duplicates().reset_index(drop=True)
martial_map["marital_id"] = martial_map.index + 1

### Merge the marital_id to the final_data.csv

### Normalize occupation

### Converting the final data to csv format

In [14]:
df.to_csv('final_data.csv', index=False)
print(df.head())

   age          workclass       marital-status          occupation  \
0   39          State-gov        Never-married        Adm-clerical
1   50   Self-emp-not-inc   Married-civ-spouse     Exec-managerial
2   38            Private             Divorced   Handlers-cleaners
3   53            Private   Married-civ-spouse   Handlers-cleaners
4   28            Private   Married-civ-spouse      Prof-specialty

     relationship    race      sex  capital-gain  capital-loss  \
0   Not-in-family   White     Male          2174             0
1         Husband   White     Male             0             0
2   Not-in-family   White     Male             0             0
3         Husband   Black     Male             0             0
4            Wife   Black   Female             0             0

   hours-per-week  native-country  income  education_id
0              40   United-States   <=50K             1
1              13   United-States   <=50K             1
2              40   United-States   <=50K             2
3              40   United-States   <=50K             3
4              40            Cuba   <=50K             1